[Desktop Entry]
Version=1.0
Type=Application
Name=Deepin Project Downloader
Name[zh_CN]=深度开发工具箱
X-DFM-MenuTypes=EmptyArea
Comment=Download and manage Deepin projects from various sources
Comment[zh_CN]=从各种来源下载和管理深度项目
Exec=/usr/bin/deepin-project-downloader-launcher.sh %p
Icon=/usr/share/dfm-tools-plugins/deepin-project-downloader.svg
Categories=Development;Network;
Keywords=deepin;project;download;git;svn;source;code;
StartupNotify=true
MimeType=inode/directory;