[Desktop Entry]
Version=1.0
Type=Application
Name=ChangeLog 升级
Name[zh_CN]=ChangeLog 升级
X-DFM-MenuTypes=EmptyArea
Comment=Automatically update Debian changelog and version information
Comment[zh_CN]=自动更新Debian changelog和版本信息
Exec=/usr/bin/changelog-updater-launcher.sh %p
Icon=/usr/share/dfm-tools/update-changelog.svg
Categories=Development;RevisionControl;
Keywords=debian;changelog;version;update;packaging;
StartupNotify=true
MimeType=inode/directory;