[Desktop Entry]
Version=1.0
Type=Application
Name=DConfig Editor
Name[zh_CN]=DConfig 编辑器
X-DFM-MenuTypes=EmptyArea
Comment=DDE DConfig Editor for managing system and application configurations
Comment[zh_CN]=DDE DConfig 编辑器，用于管理系统和应用程序配置
Exec=dde-dconfig-editor
Icon=/usr/share/dfm-tools/dde-dconfig-editor.svg
Categories=System;Settings;
Keywords=dde;dconfig;editor;configuration;settings;
StartupNotify=true
MimeType=inode/directory;