#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	# No need to clean for architecture-independent package

override_dh_auto_build:
	# No build step needed for architecture-independent package

override_dh_auto_install:
	# Install files according to debian/install
	dh_install
	# Create main entry point
	install -m 755 dfm-tools-entry debian/dfm-tools/usr/bin/dfm-tools

override_dh_auto_test:
	# No test

override_dh:
	dh $@ --parallel