[Desktop Entry]
Version=1.0
Type=Application
Name=D-Feet
Name[zh_CN]=D-Feet
X-DFM-MenuTypes=EmptyArea
Comment=D-Bus debugger and inspector tool
Comment[zh_CN]=D-Bus 调试器和检查工具
Exec=d-feet
Icon=/usr/share/dfm-tools/d-feet.svg
Categories=Development;System;
Keywords=d-bus;debug;inspect;system;development;
StartupNotify=true
MimeType=inode/directory;