[Desktop Entry]
Type=Application
Icon=/usr/share/dfm-tools-plugins/integration.svg
Name=Development Tools
Name[zh_CN]=开发工具
X-DFM-MenuTypes=SingleDir;MultiFileDirs;EmptyArea;
Comment=Integrated development tools menu
Comment[zh_CN]=集成开发工具菜单
Actions=deb-builder;gitk;deepin-project-downloader;dde-dconfig-editor;d-feet

[Desktop Action deb-builder]
Name=DEB Package Builder
Name[zh_CN]=构建DEB包
Exec=/usr/bin/deb-builder-launcher.sh %p
Icon=/usr/share/dfm-tools-plugins/deb-package-icon.svg

[Desktop Action gitk]
Name=Gitk
Name[zh_CN]=Gitk
Exec=/usr/bin/gitk-launcher.sh %p
Icon=/usr/share/dfm-tools-plugins/gitk-icon.svg

[Desktop Action deepin-project-downloader]
Name=Deepin Project Downloader
Name[zh_CN]=DFM开发工具箱
Exec=/usr/bin/deepin-project-downloader-launcher.sh %p
Icon=/usr/share/dfm-tools-plugins/deepin-project-downloader.svg

[Desktop Action dde-dconfig-editor]
Name=Deepin DConfige Editor
Name[zh_CN]=DConfig编辑器
Exec=/usr/bin/dde-dconfig-editor
Icon=/usr/share/dfm-tools-plugins/dde-dconfig-editor.svg

[Desktop Action d-feet]
Name=D-Feet
Name[zh_CN]=D-Feet
Exec=d-feet
Icon=/usr/share/dfm-tools-plugins/d-feet.svg